*{
  padding: 0;
  margin: 0;
}
:root{
  --main-color: rgb(226, 226, 226);
  --background-color:#ffffffab;
  --font-color:rgb(0, 0, 0);
  --shadow-color:0 5px 15px rgb(189, 186, 186);
}
.dark-theme{
  --main-color: rgba(5, 14, 20, 0.966);
  --background-color:#151f27;
  --font-color: rgba(255, 255, 255, 0.89);
  --shadow-color:0 5px 5px rgb(15, 14, 14);
}

body{
  background-color: var(--main-color);
  font-family: 'Lora', serif;
}
a{
  text-decoration: none;
  color: var(--font-color);
}
.container{
  max-width:1100px;
  margin: auto;
  overflow: auto;
}
/* navbar */
.nav-bar{
  background-color: var(--background-color);
  box-shadow:var(--shadow-color);
  margin-bottom: 5px;
  color: var(--font-color);
}
.nav-bar .menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 40px;
}

/* search and selector */
.region{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.search-bar .region .search{
  height: 20px;
  background-color: var(--background-color);
  border-radius: 5px;
  border: none;
  box-shadow: var(--shadow-color);
  padding: 5px;
  padding-left: 15px;
  color: var(--font-color);
  
}
.search-bar .region .search:focus{
  outline: none;
}
.selectField{
  width: 100%;
  padding: 5px 20px;
  /* margin-bottom: 5px; */
  box-shadow: var(--shadow-color);
  box-sizing: border-box;
  background-color: var(--background-color);
  cursor: pointer;
  color: var(--font-color);
}

.filter_region{
  color: var(--font-color);
  padding: 0px 10px;
  font-size: 80%;
}
.filter{
  display: flex;
  flex-direction: row;  
}
.list{
  width: 100%;
  background: var(--background-color);
  box-shadow: var(--shadow-color);
  overflow: hidden;
  color: var(--font-color);
  border-radius: 6px;
}
.hide{
  display: none;
}

.options{
  width: 100%;
  padding: 5px 20px;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}
.options:hover{
  background-color: var(--main-color);
}

.box{
  width: 150px;
  background-color: var(--background-color);
  box-shadow: var(--shadow-color);
  margin-top: 20px;
  border-radius: 5px;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
}
.box:hover{
  box-shadow: 0 5px 5px rgb(146, 145, 145);
}
.box .flag{
  width: 150px;
  height: 100px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.box .description{
  margin: 15px;
}

h5,h6{
 padding: 8px 0px;
}

.grey{
  color:rgb(165, 156, 156)
}
#list_countries{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

